.basket {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: flex-start;
  flex-grow: 1;
  padding-top: 40px;
}

.basket__container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 100%;
  max-width: 1440px;
  padding: 0 30px;
  position: relative;
}

.basket__top-btn {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 80%;
  margin: 0;
  position: absolute;
  top: -40px;
  left: 50px;
}

.basket__card-delete-select-btn {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin-left: 20px;
  padding: 0;
  background-color: initial;
  border: none;
  cursor: pointer;
  color: rgb(255, 0, 85);
}

.basket__list {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0;
  background-color: #f5f3f3;
  border-radius: 10px;
  margin: 0;
  margin-right: 30px;
  padding: 20px 20px;
}

.basket__bottom-box {
  display: flex;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 320px;
  width: 100%;
  max-height: 200px;
  background-color: #f5f3f3;
  padding: 20px;
  border-radius: 10px;
}

.basket__final-product {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  margin: 0;
}

.basket__final-price {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 16px;
  margin: 20px 0;
}

.basket__checkout-btn {
  width: 100%;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  border: none;
  border-radius: 10px;
  padding: 15px 10px;
}

.basket__checkout-btn-active {
  background-color: #f4c500;
  opacity: 1;
  cursor: pointer;
}

.basket__checkout-btn-disabled {
  background-color: #d4d4d4;
}

.basket__checkout-btn-active:hover {
  opacity: 0.5;
}

@media (max-width: 1100px) {
  .basket__container {
    flex-wrap: wrap;
  }

  .basket__list {
    margin-right: 0;
    margin-bottom: 30px;
  }

  .basket__bottom-box {
    border-radius: 0;
    border-top: 15px solid white;
    position: fixed;
    bottom: 0;
    left: 0;
    max-width: none;
    z-index: 2;
  }
}

@media (max-width: 700px) {
  .basket__container {
    padding: 0 15px;
    box-sizing: border-box;
  }

  .basket__top-btn {
    left: 35px;
  }

  .basket__bottom-box {
    padding-bottom: 74px;
  }
}
