.products-sorting {
  display: flex;
  width: 200px;
  height: 30px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  background-color: initial;
  border: 2px solid #f4c500;
  border-radius: 8px;
  cursor: pointer;
  margin-left: 5px;
  margin-bottom: 20px;
  padding: 3px 10px;
}

.products-sorting:hover {
  border: 2px solid #a0a0a0;
}

@media (max-width: 700px) {
  .products-sorting {
    width: 100%;
    margin: 0 auto 20px;
  }
}
