.requisites {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: flex-start;
}

.requisites__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  padding: 0 30px;
}

.requisites__title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin: 0 0 30px;
}

.requisites__list {
  margin: 0;
  padding: 0;
}

.requisites__field {
  list-style-type: none;
  display: flex;
  max-width: 700px;
  margin-top: 15px;
  margin-bottom: 15px;
  justify-content: space-between;
}

.requisites__field-title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
  color: #a0a0a0;
}

.requisites__field-text {
  max-width: 400px;
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 0;
}

@media (max-width: 700px) {
  .requisites__title {
    margin-bottom: 10px;
  }

  .requisites__container {
    padding: 0 15px;
  }

  .requisites__field {
    flex-direction: column;
  }

  .requisites__field-title {
    margin-bottom: 5px;
  }
}
