.shop {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: flex-start;
  flex-grow: 1;
}

.shop__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  padding: 0 30px;
}

@media (max-width: 700px) {
  .shop__container {
    padding: 0 15px;
    box-sizing: border-box;
  }
}
