.header {
  display: flex;
  justify-content: center;
  background-color: #f5f3f3;
  width: 100%;
  margin: 20px 0 40px;
  position: relative;
  padding: 10px 0;
}

.header__container {
  display: flex;
  width: 100%;
  max-width: 1440px;
  flex-direction: column;
  padding: 0 30px;
  margin: 0 auto;
}

.header__top {
  display: flex;
  padding-left: 22px;
  position: absolute;
  top: -18px;
}

.header__top-bar {
  display: flex;
  margin: 0;
  padding: 0;
}

.header__li {
  text-decoration: none;
  list-style-type: none;
}

.header__li-span {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
}

.header__li-currency {
  margin-right: 40px;
  color: #a0a0a0;
}

.header__li-address {
  color: #a0a0a0;
}

.header__bottom {
  display: flex;
  align-items: center;
}

.header__nav-catalog {
  display: flex;
  align-items: center;
}

.header__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4c500;
  color: black;
  border-radius: 10px;
  border: none;
  width: 45px;
  height: 45px;
  cursor: pointer;
  opacity: 1;
  font-family: "Inter", "Arial", sans-serif;
  font-weight: 400;
  font-size: 11px;
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
}

.header__btn:hover {
  opacity: 0.5;
}

.header__btn-catalog {
  background-image: url(../../image/icon-menu-burger.png);
  background-size: 25px 25px;
}

.header__btn-profile {
  background-image: url(../../image//icon-user.png);
  background-size: 20px 20px;
}

.header__btn-basket {
  background-image: url(../../image/icon-basket.png);
  background-size: 20px 20px;
}

.header__container-logo {
  display: flex;
  margin-right: 30px;
}

.header__logo {
  width: 150px;
}

.header__search {
  display: flex;
  flex-grow: 1;
  margin: 0 40px;
}

.header__nav-menu {
  display: flex;
  width: 10%;
  min-width: 120px;
  max-width: 150px;
  justify-content: space-between;
  order: 1;
}

@media (max-width: 1050px) {
  .header__bottom {
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .header__nav-menu {
    order: 0;
  }

  .header__search {
    width: 100%;
    margin: 0;
  }

  .header__nav-catalog {
    flex-grow: 1;
  }

  .header__container-logo {
    order: 1;
    margin-left: 40%;
  }
}

@media (max-width: 700px) {
  .header {
    height: 60px;
    background-color: white;
    margin-bottom: 10px;
  }

  .header__container {
    padding: 0 10px;
  }

  .header__bottom {
    width: 100%;
    box-sizing: border-box;
    padding: 0 15px;
    flex-wrap: nowrap;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: #f5f3f3;
    height: 80px;
  }

  .header__nav-menu {
    display: none;
  }

  .header__container-logo {
    margin-left: 0;
  }

  .header__logo {
    width: 100px;
  }

  .header__btn {
    display: none;
  }
}

@media (max-width: 500px) {
  .header__logo {
    width: 80px;
  }

  .header__container-logo {
    margin-right: 15px;
  }
}
