.footer {
  width: 100%;
  box-sizing: border-box;
  margin: 40px auto 0;
  padding: 78px 0 50px;
  background-color: #f5f3f3;
}

.footer__container {
  max-width: 1440px;
  position: relative;
  border-top: 1px solid #e4e4e4;
  border-bottom: 1px solid #e4e4e4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto 20px;
  padding: 20px 30px 20px 15px;
  z-index: 1;
}

.footer__container::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 2;
  display: flex;
  width: 98%;
  height: 30px;
  background-color: #f4c500;
  border-radius: 10px;
}

.footer__container-left {
  display: flex;
}

.footer__sotial-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
}

.footer__text {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #a0a0a0;
  margin: 0;
}

.footer__copyright-text {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  color: #a0a0a0;
  margin: 0;
}

@media (max-width: 1490px) {
  .footer__container::before {
    left: 0;
    border-radius: 0 10px 10px 0;
  }
}

@media (max-width: 1100px) {
  .footer {
    padding-bottom: 140px;
  }
}

@media (max-width: 700px) {
  .footer {
    padding-bottom: 120px;
  }

  .footer__container {
    flex-direction: column;
    border-bottom: none;
    border-top: none;
  }

  .footer__container-left {
    border-top: 1px solid #e4e4e4;
    padding-top: 20px;
    flex-direction: column;
  }

  .footer__sotial-container {
    align-items: flex-start;
  }

  .footer__container::before {
    display: none;
  }

  .footer__text {
    width: 100%;
    margin-top: 20px;
    border-top: 1px solid #e4e4e4;
    padding-top: 20px;
  }
}

@media (max-width: 399px) {
  .footer__text {
    font-size: 12px;
    line-height: 15px;
  }

  .footer__copyright-text {
    font-size: 12px;
    line-height: 15px;
  }
}
