.about-us {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
  align-items: flex-start;
}

.about-us__container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  padding: 0 30px;
}

.about-us__title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin: 0 0 30px;
}

.about-us__text {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 22px;
  margin: 0 0 10px;
}

.about-us__map-container {
  display: flex;
  width: 100%;
  max-height: 500px;
  min-height: 300px;
}

@media (max-width: 700px) {
  .about-us__container {
    padding: 0 15px;
  }
}
