.how-make-order {
  width: 100%;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: flex-start;
}

.how-make-order__container {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  max-width: 1440px;
  padding: 0 30px;
}

.how-make-order__title {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  margin: 0 0 30px;
}

.how-make-order__list {
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  width: 100%;
  padding-left: 20px;
  margin: 0;
}

.how-make-order__text {
  font-family: "Inter", "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  margin: 8px 0;
}

@media (max-width: 700px) {
  .how-make-order__container {
    padding: 0 15px;
  }
}
