.our-contacts {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.our-contacts__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    padding: 0 30px;
}

.our-contacts__title {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin: 0 0 30px;
}

.our-contacts__text {
    font-family: "Inter", "Arial", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    margin: 0 0 15px;
}

@media (max-width: 700px) {
    .our-contacts__container {
        padding: 0 15px;
    }
  }
  